/* --- Estilos Gerais --- */
body {
    font-family: 'Montserrat', sans-serif; /* Aplica Montserrat como fonte padrão */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* --- Novo Cabeçalho --- */
header {
    width: 100%;
    background-color: #fff; /* Fundo branco para a seção da logo */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-bottom: 10px; /* Espaço para separar da faixa */
}

.header-logo-top {
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    padding: 15px 0; /* Espaçamento acima e abaixo da logo */
}

.logo-criacao-header {
    max-width: 150px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

.header-band {
    background-color: #002D62; /* Azul escuro para a faixa */
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

.header-band h1 {
    margin: 0;
    font-size: 2.2em; /* Tamanho do título */
    font-weight: 800; /* Montserrat ExtraBold para o título principal */
}

/* --- Pop-up Unificado de Login e Movimentação --- */
.popup-overlay {
    display: none; /* Escondido por padrão, JavaScript o mostrará */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    justify-content: center; /* Usar flexbox para centralizar */
